<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ShiftPreferencesMapper">

<insert id="ShiftPreferencesAdd" parameterType="ShiftPreferences">
<!-- ユーザー毎の希望シフト挿入処理 -->
insert into shift_preferences values(null,#{userId},#{dayOfWeek},#{startTime},#{endTime},#{isApproved})

</insert>

<select  id="shiftPreferencesById" resultType="ShiftPreferences">
<!-- ユーザー毎の希望シフト一覧 -->
select day_of_week,start_time,end_time,is_approved from shift_preferences join users on shift_preferences.user_id = users.user_id where users.user_id = #{userId}

</select>




</mapper>
