<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ShiftPreferencesMapper">

<insert id="ShiftPreferencesAdd" parameterType="ShiftPreferences">
<!-- ユーザー毎の希望シフト挿入処理 -->
insert into shift_preferences values(null,#{userId},#{dayOfWeek},#{startTime},#{endTime},#{isApproved})

</insert>

<select  id="shiftPreferencesById" resultType="ShiftPreferences">
<!-- ユーザー毎の希望シフト一覧 -->
select day_of_week,start_time,end_time,is_approved from shift_preferences join users on shift_preferences.user_id = users.user_id where users.user_id = #{userId}

</select>

<!-- 選択した日付の希望シフト一覧 -->
<select  id="selectShiftByDate">
select preference_id,shift_preferences.user_id,day_of_week,start_time,end_time,is_approved,username,rank_id,rank_name from shift_preferences join users on shift_preferences.user_id = users.user_id join job_rank on job_rank.rank_id = users.rank where shift_preferences.day_of_week = #{dayOfWeek} order by shift_preferences.start_time asc
</select>

<!-- 範囲指定した希望シフトの取得 -->
<select  id="weekShiftDate">
SELECT preference_id,shift_preferences.user_id,day_of_week,start_time,end_time,is_approved,username,rank_id,rank_name from shift_preferences join users on shift_preferences.user_id = users.user_id join job_rank on users.rank = job_rank.rank_id  where day_of_week BETWEEN #{startDate} and #{endDate} order by shift_preferences.day_of_week asc

</select>

</mapper>
