<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>希望シフト</title>
</head>
<body>
<h1>希望シフト</h1>

<!--/* ログイン時のセッション情報を取得している */-->
<!--/* sessionの中のloggedInUserの中のuserNameを取得*/-->



<form action="" method="post" th:object="${shiftPreferences}">

<p>[[${session.loggedInUser.userName}]]さん

<p>希望シフトの曜日
<input type="date" th:field="*{dayOfWeek}"></p>
<p>希望シフトの開始時間
<input type="time" th:field="*{startTime}"></p>
  
<p>希望シフトの終了時間
<input type="time"th:field="*{endTime}"></p>
<p>確認しましたか
<input type="number"th:field="*{isApproved}"></p>

<p><input type="submit"></p>


</form>
</body>
</html>