<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>希望シフト一覧</title>
</head>
<body>
<h1>[[${session.loggedInUser.userName}]]さんの希望シフト一覧</h1>
<a th:href="@{/home/shiftAdd}">希望シフト登録</a>
<a th:href="@{/user/login}">ログインへ戻る</a>
<table border="1">
<tr>
	<th>希望シフト日:</th>
	<th>希望シフト開始時間:</th>
	<th>希望シフト終了時間:</th>
	<th>希望シフト承認</th>
</tr>

	<tr th:each="shiftPreference : ${ShiftPreferences}" th:object=${shiftPreference}>
	<td th:text="*{dayOfWeek}"></td>
	<td th:text="*{startTime}"></td>
	<td th:text="*{endTime}"></td>
	<td th:text="*{isApproved}"></td>
</tr>

</table>

</body>
</html>