<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>

<h1>ユーザー登録</h1>
<form action="" method="post" th:object="${users}">
<p>名前:
<input type="text" th:field="*{userName}"></p>
<p>パスワード:
<input type="text" th:field="*{password}"></p>
<p>アルバイトorシフト作成者or店長:
<select th:field="*{roleId}">
<option th:each="jobrole: ${jobRoles}"  th:value="${jobrole.jobRoleId}">
[[${jobrole.jobRoleName}]]
</option>
</select>
<p>アルバイトのランク:
<select th:field="*{rank}">
<option th:each="jobrank : ${jobRanks} " th:value="${jobrank.rankId}">
[[${jobrank.rankName}]]
[[${jobrank.rankHourlyRate}]]
</option>
</select>

<!-- <p>時給:2024/1/26金曜にJobRankテーブルに時給設定を行っている為、不要。
<input type="hidden" th:field="*{hourlyRate}" 
th:each="jobrank : ${jobRanks} " th:value="${jobrank.rankHourlyRate}></p> -->

<input type="submit">

</form>

</body>
</html>